<section class="w-full max-w-[1728px] m-auto lg:p-[83px] md:p-[50px] p-[10px] pt-[20px]">

    <!--******************* Hero *********************-->
    <div class="">

        <div class="flex flex-col lgp:flex-row justify-between items-center gap-[112px] relative z-0">
            <div class="text-left">
                <p class="font-ClashDisplay text-6xl font-light text-[#105843]">OUR <span class="font-bold">IMPACT</span></p>
                <p class="font-KumbhSans text-2xl text-[#3A3F44] mt-[12px]">Our ‘Farm-for-Impact’ model grants farmers the freedom denied by traditional development paradigms. We work to leverage cocoa farm revenues to sustain the operations of a tuition-free all girls’ school, a medical clinic, and a community run cocoa farm.</p>
            </div>
            <img src="assets/Images/Mask group.png" alt="" class="">
        </div>

        <div class="flex flex-wrap lg:flex-nowrap flex-row relative z-10 gap-[50px] pr-[60px] max-w-[1178px] justify-start items-start pt-[50px] mt-[-100px] bg-white">
            <div>
                <p class="font-KumbhSans font-bold text-4xl">{{ farmersCount }}</p>
                <p class="font-KumbhSans font-medium text-xl">Cocoa Farmers directly reached</p>
            </div>
            <div>
                <p class="font-KumbhSans font-bold text-4xl">{{ productionCount }}%</p>
                <p class="font-KumbhSans font-medium text-xl">Increase in farm production from seed funding</p>
            </div>
            <div>
                <p class="font-KumbhSans font-bold text-4xl">{{ revenueCount }}%</p>
                <p class="font-KumbhSans font-medium text-xl">of farming revenue re-invested into creating <br>community healthcare access and childhood education.</p>
            </div>
            <div>
                <p class="font-KumbhSans font-bold text-4xl">Join Our Community</p>
                <p class="font-KumbhSans font-medium text-xl text-[#69CD89] underline"><a href="">Let’s make it happen.</a></p>
            </div>
        </div>
    </div>

    <!--******************* section 1 *********************-->
    <div class="text-center py-[112px]">
        <p class="uppercase font-ClashDisplay font-semibold text-5xl md:text-7xl text-[#1F7154] m-auto">We help FARMING go further</p>
        <p class="font-KumbhSans font-normal text-3xl text-[#3A3F44] mt-[19px] max-w-[845px] m-auto">We increase the impact of farming, supporting community-driven resources for farmers and their families.</p>
    </div>

    <!--******************* section 2 *********************-->
    <div class="flex flex-col font-KumbhSans">

        <p class="font-semibold text-5xl text-[#1F7154] block border-b border-[black] px-[36px] py-[24px]">Childhood Education</p>
        
        <div class="flex flex-col lg:flex-row justify-between">

            <div class="flex flex-col mt-[52px] gap-[60px]">
                <div class="max-w-[400px]">
                    <p class="font-medium text-4xl text-[#023C22]">Rural Education Outcomes</p>
                    <p class="font-normal text-2xl text-black mt-[15px]">Our implementation of the model at Tarkwa Breman Girls' School shows a significant positive impact on rural education outcomes. Throughout the COVID-19 pandemic we maintained high attendance rates 98% with home visits and a public health education curriculum.</p>
                </div>
                <div class="flex flex-row gap-[40px]">
                    <img src="assets/Vectors/leaf - dark green.png" alt="" class="w-[82px] object-contain">
                    <p class="font-bold text-2xl text-[#3C7654] max-w-[350px]">$455 sponsors <span class="font-normal">a girl's education for one year</span></p>
    
                </div>
            </div>
    
            <div class="flex flex-col justify-between items-start mt-[60px] gap-[60px]">
                <div class="w-full  flex items-center justify-center">
                    <img src="assets/Vectors/image0.png" alt="" class="w-[500px] object-contain">
                </div>
    
                <div class="w-full  flex items-center justify-center">
                    <img src="assets/Vectors/image1.png" alt="" class="w-[700px] object-contain">
                </div>
            </div>

        </div>

        <p class="font-medium text-4xl text-[#023C22 my-[80px]">Highlights</p>

        <div class="flex flex-row gap-[60px] justify-center flex-wrap">

            <div class="flex flex-row gap-[44px] max-w-[450px] items-start">
                <img src="assets/Vectors/leaf - light green.png" alt="" class="w-[75px] object-contain">
                <p class="font-medium text-3xl text-[#023C22]">School enrollment increased to 300 students</p>
            </div>
            <div class="flex flex-row gap-[44px] max-w-[450px] items-start">
                <img src="assets/Vectors/leaf - light green.png" alt="" class="w-[75px] object-contain">
                <p class="font-medium text-3xl text-[#023C22]">Newly opened school canteen with healthy food options</p>
            </div>
            <div class="flex flex-row gap-[44px] max-w-[450px] items-start">
                <img src="assets/Vectors/leaf - light green.png" alt="" class="w-[75px] object-contain">
                <p class="font-medium text-3xl text-[#023C22]">New after-school extracurricular established - All girls football team</p>
            </div>

        </div>

    </div>

    <!--******************* section 3 *********************-->
    <div class="flex flex-col font-KumbhSans mt-[190px] pb-[200px]">

        <p class="font-semibold text-5xl text-[#1F7154] block border-b border-[black] px-[36px] py-[24px]">Community Health</p>
        
        <div class="flex flex-col lg:flex-row justify-between">

            <div class="flex flex-col mt-[52px] gap-[60px]">
                <div class="max-w-[400px]">
                    <p class="font-medium text-4xl text-[#023C22]">Clinic Results</p>
                    <p class="font-normal text-2xl text-black mt-[15px]">The Tarkwa Breman Community Clinic (TBCC) brings care to the cocoa farmers of Tarkwa Breman and its 7 other surrounding villages with outstanding health results.

                        Our clinic is staffed with a physician assistant, a midwife, a nurse, a pharmacist, and a clerk. TBCC has bridged the majority of healthcare gaps, specifically infant and maternity care, in Tarkwa Breman.</p>
                </div>
                <div class="flex flex-row gap-[40px]">
                    <img src="assets/Vectors/leaf - dark green.png" alt="" class="w-[82px] object-contain">
                    <p class="font-normal text-2xl text-[#3C7654] max-w-[350px]">Every year we serve <span class="font-bold"> 121% more patients.</span></p>
    
                </div>
            </div>
    
            <div class="flex flex-col justify-between items-start mt-[60px] gap-[60px]">
                <div class="w-full  flex items-center justify-center">
                    <img src="assets/Vectors/image2.png" alt="" class="w-[500px] object-contain">
                </div>
    
                <div class="w-full  flex items-center justify-center">
                    <img src="assets/Vectors/image3.png" alt="" class="w-[700px] object-contain">
                </div>
            </div>

        </div>

        <p class="font-medium text-4xl text-[#023C22 my-[80px]">Highlights</p>

        <div class="flex flex-row gap-[60px] justify-center flex-wrap">

            <div class="flex flex-row gap-[44px] max-w-[450px] items-start">
                <img src="assets/Vectors/leaf - light green.png" alt="" class="w-[75px] object-contain">
                <p class="font-medium text-3xl text-[#023C22]">Established health clinic in 2016</p>
            </div>
            <div class="flex flex-row gap-[44px] max-w-[450px] items-start">
                <img src="assets/Vectors/leaf - light green.png" alt="" class="w-[75px] object-contain">
                <p class="font-medium text-3xl text-[#023C22]">1,000+ healthcare home visits every year</p>
            </div>
            <div class="flex flex-row gap-[44px] max-w-[450px] items-start">
                <img src="assets/Vectors/leaf - light green.png" alt="" class="w-[75px] object-contain">
                <p class="font-medium text-3xl text-[#023C22]">HIV testing, primary care, maternal care, & reproductive care services</p>
            </div>

        </div>

    </div>


</section>
