.custom-shape-divider-top-1719154313 {
    position: absolute;
    top: -198px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.custom-shape-divider-top-1719154313 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1719154313 .shape-fill {
    fill: #3A3F44;
}