<footer #footer class="w-full">

    <div class="xl:h-[740px] h-full pb-[40px] relative bg-[#3A3F44]">

        <div class="custom-shape-divider-top-1719154313">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="h-full w-full">

            <div class="flex flex-col gap-[40px] max-w-[1728px] px-[50px] md:px-[100px] lg:px-[200px] mx-auto pt-[130px] font-medium text-lg text-[#F4F4F4]">

                <p class="font-bold text-5xl text-white">Become a part of the community</p>

                <div class="flex flex-row justify-between gap-[30px] flex-wrap">

                    <div class="flex flex-col gap-[20px]">
                        <p class="flex flex-row items-center gap-[10px]">Send us an email <img src="/assets/Vectors/email.png" alt=""></p>
                        <p class="underline">info@cocoa360.org</p>
                        <p>+233 (0) 30 295 5713</p>
                    </div>

                    <div class="flex flex-col gap-[20px]">
                        <p class="flex flex-row items-center gap-[10px]">Our U.S. office <img src="/assets/Vectors/office.png" alt=""></p>
                        <p class="text-wrap">
                            325 Chestnut St.<br>
                            Suite 876 #141<br>
                            Philadelphia, PA 19106
                        </p>
                    </div>

                    <div class="flex flex-col gap-[20px]">
                        <p class="flex flex-row items-center gap-[10px]">Our U.K. office <img src="/assets/Vectors/office.png" alt=""></p>
                        <p class="text-wrap">
                            Jesus College<br>
                            22 Jesus Lane<br>
                            Cambridge, CBS BBL
                        </p>
                    </div>

                    <div class="flex flex-col gap-[20px]">
                        <p class="flex flex-row items-center gap-[10px]">Send us an in-kind gift <img src="/assets/Vectors/box.png" alt=""></p>
                        <p>
                            TBCA -Cocoa360<br>
                            P.O.Box 170<br>
                        </p>
                        <p>Bogoso, Western Region</p>
                        <p>Ghana</p>
                    </div>

                </div>

                <div class="flex flex-row justify-between items-center flex-wrap gap-[20px]">

                    <p class="max-w-[240px] text-wrap font-normal">
                        Tax ID/EIN: 47-4120941 Cocoa360 is a registered 501(c)3 non-profit organization. Your support of our work is fully tax-deductible to the extent allowed by the law.
                    </p>

                    <div class="flex flex-row gap-[20px] items-center">
                        <a href="https://web.facebook.com/cocoa360" target="_blank"><img src="/assets/Vectors/Vector.png" alt="facebook" width="40px" height="40px"></a>
                        <a href="https://www.linkedin.com/company/cocoa360/" target="_blank"><img src="/assets/Vectors/linkedin.png" alt="linkedin" width="40px" height="40px"></a>
                        <a href="https://www.instagram.com/cocoa360/" target="_blank"><img src="/assets/Vectors/insta.png" alt="instagram" width="40px" height="40px"></a>
                        <a href="https://x.com/cocoa360_" target="_blank"><img src="/assets/Vectors/vector x.png" alt="x" width="40px" height="40px"></a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>
