<header class="text-sm md:text-base w-full md:h-[95px] border-b border-b-[#3A3F44] px-[15px] pb-3 md:pb-0 lg:px-[60px] flex flex-row justify-center">

    <div class="w-full max-w-[1728px] flex flex-col gap-4 md:gap-0 md:flex-row h-full items-center">

        <a routerLink="/">
            <img src="../assets/Logo/cocoa green logo.png" alt="cocoa360 logo" width="200px" height="68px" class="min-w-[200px]">
        </a>

        <ul class="h-full font-ClashDisplay font-medium text-[#217851] flex flex-row justify-evenly items-center w-full w-max-[871px]">
            <li><a routerLink="/about-us" class="hover:text-[#34b279]">About Us</a></li>
            <li><a routerLink="/how-we-work" class="hover:text-[#34b279]">How We Work</a></li>
            <li><a routerLink="/our-impact" class="hover:text-[#34b279]">Our Impact</a></li>
            <li><a routerLink="/contact" class="hover:text-[#34b279]">Contact</a></li>
        </ul>

        <div class="font-ClashDisplay font-bold text-[#217851] h-full flex flex-col justify-center pl-[15px] lg:pl-[60px] md:border-l border-[#217851]">
            <a routerLink="/donate" class="block text-center leading-[52px] w-[150px] lg:w-[195px] h-[55px] border-[#217851] border rounded-[63.75px] hover:bg-[#8eccb0]">Donate</a>
        </div>

    </div>

</header>
