<section class="w-full max-w-[1728px] m-auto pb-[200px]">

    <!--******************* Hero *********************-->
    <div class="flex flex-col lg:flex-row gap-[85px] overflow-visible px-3 lg:px-0">

        <div class="md:min-w-[500px] w-full md:max-w-[500px] flex flex-col gap-[44px] mt-[130px] mx-auto lg:ml-[200px] z-10 pb-4">
            <p class="font-ClashDisplay font-light text-[#023C22] text-5xl md:text-6xl">HOW WE <span class="font-bold">WORK</span></p>
            <p class="font-KumbhSans font-normal text-black text-3xl md:text-4xl"><span class="font-bold">Over 3.4 billion</span> people live in rural areas.</p>
            <p class="font-KumbhSans font-normal text-black text-3xl md:text-4xl"><span class="font-bold">2 billion of them are farmers</span> who produce our food.</p>
            <p class="font-KumbhSans font-normal text-black text-3xl md:text-4xl">Yet, healthcare access and quality education remain key challenges for their families.</p>
            <a href="" class="flex items-center justify-center bg-[#EB7450] hover:bg-[#f17f5d] text-white h-[82px] w-[313px] font-ClashDisplay font-bold text-2xl">Join the Community</a>
        </div>

        <img src="assets/Vectors/map vector.png" alt="world map vector" class="h-[800px] object-cover z-0 absolute left-0 top-[300px] lgp:top-0 lgp:relative">

    </div>

    <!--******************* section 1 *********************-->
    <div class="flex flex-row justify-center items-start flex-wrap py-[76px] bg-white z-10 relative gap-[80px]">

        <div class="flex flex-col justify-center items-center gap-[20px] w-[358px] text-center">
            <img src="assets/Vectors/plant vector.png" alt="" class="w-[70px] object-contain">
            <p class="font-KumbhSans font-semibold text-4xl text-[#023C22]">Farm Economy</p>
            <p class="font-KumbhSans font-normal text-xl text-[#023C22]">Over $2 Billion of cocoa is grown and exported each year from Ghana.</p>
        </div>

        <div class="flex flex-col justify-center items-center gap-[20px] w-[358px] text-center">
            <img src="assets/Vectors/education vector.png" alt="" class="w-[70px] object-contain">
            <p class="font-KumbhSans font-semibold text-4xl text-[#023C22]">Education</p>
            <p class="font-KumbhSans font-normal text-xl text-[#023C22]">Rural farmers cannot afford to send their children to school.</p>
        </div>

        <div class="flex flex-col justify-center items-center gap-[20px] w-[358px] text-center">
            <img src="assets/Vectors/africa vector.png" alt="" class="w-[70px] object-contain">
            <p class="font-KumbhSans font-semibold text-4xl text-[#023C22]">Health</p>
            <p class="font-KumbhSans font-normal text-xl text-[#023C22]">Communities lack health services and community resources.</p>
        </div>

    </div>

    <!--******************* section 2 *********************-->
    <div class="flex flex-col lgp:flex-row justify-center items-center flex-nowrap mx-auto px-[10px] md:px-[30px] py-[100px] gap-[80px] max-w-[1322px]">

        <div class="flex flex-col justify-center items-start gap-[25px] font-KumbhSans max-w-[590px]">

            <p class="font-bold text-5xl">A Different Way</p>

            <div class="flex flex-row justify-center items-center gap-[35px]">
                <img src="assets/Vectors/plant vector.png" alt="" class="h-[51px] object-contain">
                <p class="font-normal text-xl">Rural farmers grow Cocoa </p>
            </div>

            <div class="flex flex-row justify-center items-center gap-[35px]">
                <img src="assets/Vectors/education vector.png" alt="" class="h-[51px] object-contain">
                <p class="font-normal text-xl">Farm revenues send girls to school </p>
            </div>

            <div class="flex flex-row justify-center items-center gap-[35px]">
                <img src="assets/Vectors/africa vector.png" alt="" class="h-[51px] object-contain">
                <p class="font-normal text-xl">The community receives free healthcare</p>
            </div>

            <p class="font-normal text-xl">At Cocoa360, we put the “community” back into “community development”.</p>
            <p class="font-normal text-xl">Our pioneering “Farm-for-Impact” model puts in the driver’s seat of development</p>
            <p class="font-normal text-xl">Together with community members, we leverage cocoa farm revenues to improve health and educational outcomes in rural communities.</p>
            <p class="font-normal text-xl"> Communities Do, We Facilitate.</p>

        </div>

        <div class="flex flex-col md:flex-row gap-[25px]">

            <div>
                <img src="assets/Images/Cocoa.jpg" alt="" class="w-full max-w-[369px] h-[372px] object-cover object-center rounded-[20px]">
                <img src="assets/Images/COMMUNITY 1.png" alt="" class="w-full max-w-[369px] h-[196px] object-cover object-left rounded-[20px] mt-[25px]">
            </div>

            <div>
                <img src="assets/Images/Corner Library 1.png" alt="" class="w-full max-w-[369px] h-[196px] object-cover object-center rounded-[20px]">
                <img src="assets/Images/N1000798 1.png" alt="" class="w-full max-w-[369px] h-[372px] object-cover object-center rounded-[20px]  mt-[25px]">
            </div>

        </div>

    </div>

    <!--******************* section 3 *********************-->
    <div class="flex flex-col lgp:flex-row items-center lgp:items-start mx-auto px-[10px] py-[100px] gap-[60px] max-w-[1324px]">

        <div class="font-KumbhSans max-w-[918px]">
            <p class="font-bold text-5xl mt-[38px]">Our Model</p>
            <p class="font-normal text-xl mt-[38px]">Our proprietary Akuraase Model is an effective community engagement model. At it’s core, farm labor funds the self-sustaining model.  Community time and effort leads to a yearly profit which are applied to community healthcare and education programs.</p>
        </div>

        <img src="assets/Vectors/image5.png" alt="" class="w-full max-w-[918px]">

    </div>

    <!--******************* section 4 *********************-->
    <div class="flex flex-col lgp:flex-row items-center lgp:items-start mx-auto px-[10px] py-[100px] gap-[60px] max-w-[1324px]">

        <div class="font-KumbhSans max-w-[918px]">
            <p class="font-bold text-5xl mt-[38px]">The Problem:<br><span class="font-normal">Cocoa Farming Inequality</span></p>
            <p class="font-normal text-xl mt-[38px]">Cocoa is one of Ghana’s most valuable exports. Yet cocoa farmers struggle with limited income and access to community resources.</p>
        </div>

        <img src="assets/Vectors/image6.png" alt="" class="w-full max-w-[918px]">

    </div>

    <!--******************* section 5 *********************-->
    <div class="flex flex-col lgp:flex-row justify-start items-start lgp:items-center px-[10px] lgp:px-0 gap-[40px] pb-[300px] pt-[75px] mx-auto w-fit">
        <div class="font-KumbhSans md:mr-[160px]">
            <p class="font-bold text-5xl mb-[10px]">Our <br>Partners</p>
            <a class="font-bold text-xl text-[#1F7154] underline hover:text-[#44c497] cursor-pointer">Learn more</a>
        </div>

        <div class="flex flex-row justify-center items-center gap-[40px] flex-wrap">
            <img src="assets/Partner Logos/image 14.png" alt="" class="w-[168px] h-[68px]">
            <img src="assets/Partner Logos/image 15.png" alt="" class="w-[213px] h-[198px]">
            <img src="assets/Partner Logos/image 16.png" alt="" class="w-[258px] h-[94px]">
            <img src="assets/Partner Logos/image 13.png" alt="" class="w-[132px] h-[157px]">
        </div>

    </div>

</section>