<section class="w-full max-w-[1728px] m-auto">

    <!--******************* Hero *********************-->
    <div class="flex flex-col lgp:flex-row justify-center gap-[62px] items-center h-max">

        <img src="assets/Images/Banner1.jpg" alt="" class="w-full lgp:w-[878px] h-full md:h-[calc(100vh-95px)] object-cover">
        <div class="font-ClashDisplay ">
            <p class="text-5xl md:text-6xl font-semibold text-[#177055] uppercase leading-[80px] mb-[16px]">envision
                a world wHere AFRICAN 
                communities <span class="text-[#69CD89]">thrive</span>
            </p>
            <p class="font-KumbhSans font-normal text-xl text-[#3F3D56] mb-[61px]">
                We collaborate with communities to transition from aid dependency to self-sufficiency, enabling them to sustainably meet their health and educational needs.
            </p>
            <a href="" class="flex items-center justify-center bg-[#EB7450] hover:bg-[#f17f5d] text-white h-[82px] w-[313px] font-ClashDisplay font-semibold text-xl">Join the Community</a>
        </div>

    </div>

    <!--******************* Second section *********************-->
    <div class="py-[93px] flex flex-col justify-center items-center bg-[#1F7154] font-ClashDisplay text-center px-3  box-border lgp:px-[250px]">

        <p class="font-medium md:text-5xl text-4xl text-white leading-[70px] mb-[45px]">African rural communities <span class="text-[#69CD89]">can</span> achieve sustainable financial autonomy for health and education outcomes.</p>
        <p class="font-light text-2xl text-white max-w-[918px]">Rural communities in Africa are grossly underestimated in their ability to sustain their own health and educational initiatives financially.</p>

    </div>

    <!--******************* section 3 *********************-->
    <div class="py-[95px] text-center flex flex-col items-center gap-[22px] bg-[#E8EFEB]">

        <p class="font-ClashDisplay font-light text-5xl uppercase text-[#023C22]">Our <span class="font-bold" >Mission</span></p>
        <p class="font-KumbhSans font-light text-2xl text-[#023C22] max-w-[895px]">Our mission is to enable cocoa farmers and their families to take the driver's seat in their own development, improving educational and health outcomes for their children, harvest after harvest.</p>

    </div>

    <!--******************* section 4 *********************-->
    <div class="bg-[#1F7154] py-[123px] text-center flex flex-col items-center gap-[95px]">

        <p class="font-ClashDisplay font-light text-5xl uppercase text-white">Our Impact <span class="font-bold">Since 2015</span></p>
        <div class="flex flex-col lg:flex-row items-start justify-between max-w-[1129px] text-white gap-[100px]">

            <div class="flex flex-col justify-start items-center gap-[24px] max-w-[271px]">
                <img src="assets/Vectors/hospital-two.png" alt="" class=" max-h-[155px]">
                <p class="font-semibold font-ClashDisplay text-5xl">{{ patientsCount }}</p>
                <p class="font-semibold font-ClashDisplay text-2xl uppercase">PATIENTS SERVED</p>
                <p class="font-light font-KumbhSans text-xl">In our community health clinic</p>
            </div>

            <div class="flex flex-col justify-start items-center gap-[24px] max-w-[271px]">
                <img src="assets/Vectors/Group 3902.png" alt="" class=" max-h-[150px]">
                <p class="font-semibold font-ClashDisplay text-5xl">{{ girlsCount }}</p>
                <p class="font-semibold font-ClashDisplay text-2xl uppercase">GIRLS ENROLLED</p>
                <p class="font-light font-KumbhSans text-xl">In our all girls school program</p>
            </div>

            <div class="flex flex-col justify-start items-center gap-[24px] max-w-[271px]">
                <img src="assets/Vectors/Vector (2).png" alt="" class=" max-h-[150px] mb-5">
                <p class="font-semibold font-ClashDisplay text-5xl">{{ communitiesCount }}</p>
                <p class="font-semibold font-ClashDisplay text-2xl uppercase">COMMUNITIES REACHED</p>
                <p class="font-light font-KumbhSans text-xl">In West Ghana</p>
            </div>

        </div>

    </div>

    <!--******************* section 5 *********************-->
    <div class="py-[123px] text-center flex flex-col items-center lgp:items-start gap-[95px]  lgp:flex-row  justify-center px-2 lgp:px-0">

        <img src="assets/Vectors/image7.png" alt="" class="w-[534px] h-[534px]]">
        <div class="text-left max-w-[570px]">
            <p class="font-ClashDisplay text-5xl font-light text-[#023C22]">Our <span class="font-bold">MODEL</span></p>
            <p class="text-[#69CD89] font-ClashDisplay text-2xl font-semibold mt-[15px]">FARM-FOR-IMPACT</p>
            <p class="font-KumbhSans font-light text-xl mt-[15px]">Our proprietary model integrates community engagement with self-sustainability, utilizing volunteer labor and climate smart farm management to generate funds. Each season, community participation yield profits directed through local decision-making to enhance health and education outcomes for the communities and their families.</p>
        </div>

    </div>

    <!--******************* section 6 *********************-->
    <div class="flex flex-col lgp:flex-row items-center lgp:items-start justify-center p-[10px] md:p[40px] lgp:p-[105px] py-[100px] bg-[#1F7154] gap-[84px] text-white">

        <img src="assets/Images/Communities do.jpg" alt="" class="w-[711px] max-w-full">
        <div>
            <p class="font-ClashDisplay font-medium text-4xl">Our model works. <br>Now we expand our reach.</p>
            <p class="font-KumbhSans font-light text-xl border-t-[3px] border-[#69CD89] pt-[20px] mt-[20px]">For seven years, the Tarkwa Breman community and our evidence partners at Yale, Cambridge and the University of Ghana have proven that our pioneering model works. Community time and effort can improve and maintain the outcomes of farming communities and their families.</p>
        </div>

    </div>

    <!--******************* section 7 NewsLetter *********************-->
    <div class="py-[100px] pb-[250px]">
        <app-newsletter></app-newsletter>
    </div>

</section>
