<section class="w-full max-w-[1728px] m-auto">

    <!--******************* Hero *********************-->
    <div class="flex flex-col lgp:flex-row justify-center gap-[62px] items-center p-[10px] md:p-[40px] lg:p-[73px] !pb-0">

        <img src="/assets/Images/Banner1.jpg" alt="" class="w-full md:w-[785px] h-[450px] md:h-[1062px] object-cover">
        <div class="font-ClashDisplay">
            <p class="text-5xl md:text-7xl font-semibold text-[#177055] uppercase leading-[80px] mb-[16px]">We envision
                a world wHere AFRICAN 
                communities <span class="text-[#69CD89]">thrive</span>
            </p>
            <p class="font-KumbhSans font-normal text-3xl text-[#3F3D56] mb-[61px]">
                We help communities shift from aid dependency to independence in global health & education
            </p>
            <a href="" class="flex items-center justify-center bg-[#EB7450] hover:bg-[#f17f5d] text-white h-[82px] w-[313px] font-ClashDisplay font-bold text-2xl">Join the Community</a>
        </div>

    </div>

    <!--******************* Second section *********************-->
    <div class="lgp:mt-[-72px] py-[140px] flex flex-col justify-center items-center min-h-[690px] bg-[#1F7154] font-ClashDisplay text-center lgp:px-[250px]">

        <p class="font-medium text-5xl md:text-7xl text-white leading-[70px] mb-[45px]">African communities <span class="text-[#69CD89]">can</span> financially sustain their own health and education outcomes. Here's how.</p>
        <p class="font-normal text-2xl text-white max-w-[918px]">Rural communities in Africa are grossly underestimated in their ability to sustain their own health and educational initiatives financially.</p>

    </div>
    
    <!--******************* third section *********************-->
    <div class="max-w-[1243px] font-ClashDisplay m-auto mt-[-90px]">

        <div class="bg-[#E8EFEB] text-[#023C22] pt-[83px] pb-[20px] lg:pb-0 flex flex-col items-center text-center font-KumbhSans">
            <p class="uppercase font-light text-3xl leading-[49px] font-ClashDisplay">We facilitate</p>
            <p class="uppercase font-light text-5xl md:text-7xl mb-[8px] font-ClashDisplay">Community <span class="font-bold">insurance</span></p>
            <p class="text-[#105843] font-light text-2xl max-w-[650px] text-center font-ClashDisplay">We’ve designed a community insurance program that helps build self-sustaining change.</p>

            <div class="m-auto flex flex-col md:flex-row mt-[91px] gap-[41px] text-center">

                <div class="flex flex-col items-center justify-start gap-[37px] max-w-[127px]">
                    <div class="w-[128px] h-[128px] border-[3px] border-[#023C22] rounded-full flex justify-center items-center">
                        <img src="/assets/Vectors/Vector (1).png" alt="" class="">
                    </div>
                    <p class="text-xl">Community Buy-In <br>(Farm Labor)</p>
                </div>

                <div class="flex flex-col items-center justify-start gap-[37px] mt-[55px]">
                    <img src="/assets/Vectors/+.png" alt="" class="w-[40px] h-[40px]">
                </div>

                <div class="flex flex-col items-center justify-start gap-[37px]">
                    <div class="w-[128px] h-[128px] border-[3px] border-[#023C22] rounded-full flex justify-center items-center">
                        <img src="/assets/Vectors/Rectangle 2240.png" alt="" class="">
                    </div>
                    <p class="text-xl">Farm Card</p>
                </div>

                <div class="flex flex-col items-center justify-start gap-[20px] mt-[60px]">
                    <img src="/assets/Vectors/Vector 10.png" alt="" class="w-[120px]">
                    <p class="font-light text-base">provides access</p>
                </div>

                <div class="flex flex-col items-center justify-start gap-[37px] max-w-[127px]">
                    <div class="w-[128px] h-[128px] border-[3px] border-[#023C22] rounded-full flex justify-center items-center">
                        <img src="/assets/Vectors/hotel.png" alt="" class="w-[71px] h-[71px]">
                    </div>
                    <p class="text-xl">Community Services</p>
                </div>

            </div>

            <img src="/assets/Images/FVC.jpg" alt="" class="w-[518px] h-[321px] rounded-[25px] border-[#69CD89] border-[4px] mt-[100px]">

        </div>

        <div class="bg-[#1F7154] font-KumbhSans text-white flex flex-col justify-between p-[40px] min-h-[425px] lg:mt-[-216px]">

            <div class="w-full ">
                <p class="text-xl w-full lg:max-w-[205px] text-center lg:text-right lg:ml-[50px]">Donations contribute to implementing the model</p>
            </div>

            <div class="flex flex-col lg:flex-row items-center justify-between font-light gap-x-[60px] gap-y-[30px] lg:gap-y-0">

                <p class="block border-t-[1px] border-[#69CD89] pt-[20px] w-full lg:w-auto">Communities generate revenue that funds their own access to long-term services.</p>
                <p class="block border-t-[1px] border-[#69CD89] pt-[20px] w-full lg:w-auto">Our Farm Card helps community members easily consolidate and track their own spend on education and health services.</p>
                <p class="block border-t-[1px] border-[#69CD89] pt-[20px] w-full lg:w-auto">Community members are equipped to sustain their own healthcare and educational services.</p>

            </div>

        </div>

    </div>

    <!--******************* fourth section *********************-->
    <div class="py-[140px] text-center flex flex-col items-center gap-[22px] bg-[#E8EFEB] mt-[78px]">

        <p class="font-ClashDisplay font-light text-7xl uppercase text-[#023C22]">Our <span class="font-bold" >Mission</span></p>
        <p class="font-KumbhSans font-light text-3xl text-[#023C22] max-w-[895px]">Our mission is to put cocoa farmers and their families in the driver’s seat to improve educational and health outcomes for their children from within, harvest after harvest.</p>

    </div>

    <!--******************* fifth section *********************-->
    <div class="bg-[#1F7154] py-[123px] text-center flex flex-col items-center gap-[95px]">

        <p class="font-ClashDisplay font-light text-7xl uppercase text-white">Our Impact <span class="font-bold">Since 2015</span></p>
        <div class="flex flex-col lg:flex-row items-start justify-between max-w-[1129px] text-white gap-[141px]">

            <div class="flex flex-col justify-start items-center gap-[24px] max-w-[271px]">
                <img src="/assets/Vectors/hospital-two.png" alt="" class=" max-h-[155px]">
                <p class="font-semibold font-ClashDisplay text-6xl">25,000</p>
                <p class="font-semibold font-ClashDisplay text-4xl uppercase">PATIENTS SERVED</p>
                <p class="font-light font-KumbhSans text-xl">In our community health clinic</p>
            </div>

            <div class="flex flex-col justify-start items-center gap-[24px] max-w-[271px]">
                <img src="/assets/Vectors/Group 3902.png" alt="" class=" max-h-[150px]">
                <p class="font-semibold font-ClashDisplay text-6xl">300</p>
                <p class="font-semibold font-ClashDisplay text-4xl uppercase">GIRLS ENROLLED</p>
                <p class="font-light font-KumbhSans text-xl">In our all girls school program</p>
            </div>

            <div class="flex flex-col justify-start items-center gap-[24px] max-w-[271px]">
                <img src="/assets/Vectors/Vector (2).png" alt="" class=" max-h-[150px] mb-5">
                <p class="font-semibold font-ClashDisplay text-6xl">8</p>
                <p class="font-semibold font-ClashDisplay text-4xl uppercase">COMMUNITIES REACHED</p>
                <p class="font-light font-KumbhSans text-xl">In West Ghana</p>
            </div>

        </div>

    </div>

    <!--******************* sixth section *********************-->
    <div class="max-w-[1560px] m-auto rounded-[66px] border border-[#3A3F44] p-[10px] lg:p-[50px] lgp:p-[106px] my-[95px]">

        <div class="flex flex-col lgp:flex-row items-center gap-5 justify-between mb-[230px]">
            <img src="/assets/Vectors/Group 3912.png" alt="">
            <div class="text-left lg:text-right max-w-[448px]">
                <p class="font-ClashDisplay text-7xl font-light text-[#023C22]">Our <span class="font-bold">MODEL</span></p>
                <p class="text-[#69CD89] font-ClashDisplay text-4xl font-bold">FARM-FOR-IMPACT</p>
                <p class="font-KumbhSans font-light text-2xl">Our proprietary model is an effective community engagement model. At it’s core, farm labor funds the self-sustaining model. Community time and effort leads to a yearly profit which are used to improve the health and education outcomes of farming communities and their families.</p>
            </div>
        </div>

        <div class="flex flex-col lgp:flex-row gap-[66px]">

            <div class="flex flex-row justify-start items-start gap-[30px]">
                <img src="/assets/Vectors/Ellipse 47.png" alt="">
                <div>
                    <p class="uppercase font-ClashDisplay font-bold text-4xl">FARM <br>Investment</p>
                    <p class="font-KumbhSans font-light text-2xl">Our mission is to put cocoa farmers and their families in the driver’s seat to improve educational and health outcomes for their children from within, harvest after harvest.</p>
                </div>
            </div>

            <div class="flex flex-row justify-start items-start gap-[30px]">
                <img src="/assets/Vectors/Ellipse 48.png" alt="">
                <div>
                    <p class="uppercase font-ClashDisplay font-bold text-4xl">COMMUNITY <br>DECISION MAKING</p>
                    <p class="font-KumbhSans font-light text-2xl">Our mission is to put cocoa farmers and their families in the driver’s seat to improve educational and health outcomes for their children from within, harvest after harvest.</p>
                </div>
            </div>

            <div class="flex flex-row justify-start items-start gap-[30px]">
                <img src="/assets/Vectors/Ellipse 49.png" alt="">
                <div>
                    <p class="uppercase font-ClashDisplay font-bold text-4xl">SELF-SUSTAINED <br>IMPACT</p>
                    <p class="font-KumbhSans font-light text-2xl">Our mission is to put cocoa farmers and their families in the driver’s seat to improve educational and health outcomes for their children from within, harvest after harvest.</p>
                </div>
            </div>

        </div>

    </div>

    <!--******************* seventh section *********************-->
    <div class="bg-[#E8EFEB] text-center font-ClashDisplay flex flex-col justify-center items-center px-[10px] md:px-[50px] lg:px-[216px] py-[122px]">

        <p class="text-[#023C22] text-5xl md:text-7xl font-light uppercase">CASE STUDY: <br><span class="font-bold">community insurance program of Tarkwa Breman</span></p>
        <div class="flex flex-col lg:flex-row justify-between items-start gap-[92px] mt-[145px]">

            <div class="flex flex-col items-start gap-[69px] max-w-[373px]">
                <img src="/assets/Images/Clinic.JPG" alt="" class="w-[373px] h-[373px] object-cover rounded-full border-[10px] border-[#217851]">
                <p class="uppercase font-bold text-4xl">COMMUNITY HEALTH</p>
            </div>
            
            <div class="flex flex-col items-start gap-[69px] max-w-[373px]">
                <img src="/assets/Images/N1000899.jpg" alt="" class="w-[373px] h-[373px] object-cover rounded-full border-[10px] border-[#217851]">
                <p class="uppercase font-bold text-4xl">EARLY CHILDHOOD EDUCATION</p>
            </div>

            <div class="flex flex-col items-start gap-[69px] max-w-[373px]">
                <img src="/assets/Images/TOP BACKGROUND.jpg" alt="" class="w-[373px] h-[373px] object-cover rounded-full border-[10px] border-[#217851]">
                <p class="uppercase font-bold text-4xl">COLLECTIVE DECISION MAKING</p>
            </div>

        </div>

        <p class="text-3xl mt-[77px]">The members of the Cocoa360 insurance program have leveraged cocoa farm revenue to self-sustain a community health clinic and all girl’s school.</p>

    </div>

    <!--******************* section 8 *********************-->
    <div class="flex flex-col lgp:flex-row items-center lgp:items-start justify-center p-[10px] md:p[40px] lgp:p-[105px] py-[100px] bg-[#1F7154] gap-[84px] text-white">

        <img src="/assets/Images/Communities do.jpg" alt="" class="w-[711px] max-w-full">
        <div>
            <p class="font-ClashDisplay font-medium text-5xl">Our model works. Now we expand our reach.</p>
            <p class="font-KumbhSans font-light text-2xl border-t-[3px] border-[#69CD89] pt-[20px] mt-[20px]">For seven years, the Tarkwa Breman community and our evidence partners at Yale, Cambridge and the University of Ghana have proven that our pioneering model works. Community time and effort can improve and maintain the outcomes of farming communities and their families.</p>
        </div>

    </div>

    <!--******************* section 9 NewsLetter *********************-->
    <div class="py-[100px] pb-[250px]">
        <app-newsletter></app-newsletter>
    </div>

</section>
