@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ClashDisplay';
    src: url('./assets/Fonts/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf');
}

@font-face {
    font-family: 'KumbhSans';
    src: url('./assets/Fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf');
}

body {
    min-height: 100vh;
    position: relative;
}

html{
    scroll-behavior: smooth;
}